{% extends 'base.html' %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>Garden Calendar</title>
</head>
<header>
    {% block navbar %}
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid">
            <ul class="navbar-nav mx-auto">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
            </ul>
        </div>
        </div>
    </nav>
    {% endblock navbar %}
</header>

<body>
    {% block content %}

    <div class="card" style="margin-top: 50px; width: 25rem; height: 35rem;">
        <div class="card-body">
            <div class="d-flex justify-content-around">
                <form action="/login" method="post" class="row-4 p-4">
                    <h2>Login</h2>
                    {% with messages = get_flashed_messages(category_filter=["loginError"]) %}
                    {% if messages %}
                    <div class="alert alert-danger">
                        {% for message in messages %}
                        <p class="error">{{message}}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input class="form-control form-control-lg" type="text" name="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" class="form-control form-control-lg">
                    </div>
                    <input type="submit" value="Login" class="btn btn-secondary" style="margin-top: .5rem;">
                </form>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>

</html>