<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garden Notes</title>
</head>
<body>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for note in all_notes %}
            <tr>
                {% if note.user_id == user.id %}
                <td class="tableData">{{note.title}}</td>
                <td class="tableData">{{note.content}}</td>
                <td class="tableData">
                    <a href="#">View</a>
                    <a href="/notes/edit/{{note.id}}">Edit</a>
                    <a href="/notes/delete/{{note.id}}">Delete</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</body>
</html>